<main>
  <H1>{{cuisine.name}} Cuisine! </H1>
  <a href="/cuisines">Back to Cuisines</a>
  <a href="./{{cuisine.id}}/edit">Edit Cuisine</a>
{{#each recipes}}
<p> {{recipe.name}}</p> 
{{/each}}

<h3>Place of origin:</h3>
<p>
    {{cuisine.placeOfOrigin}}
</p>
<h3>About:</h3>
<p>
    {{cuisine.about}}
</p>
<h3>Recipes:</h3>
<p>
    {{cuisine.recipes}}
</p>
  <form method="POST" action="/cuisines/{{cuisine.id}}?_method=DELETE">
    <input type="submit" value="Delete" />
  </form>

</main>
