<form method="POST" action="/recipes">

  <input type="text" value="{{recipe.name}}" placeholder="name" name="name" />
  <input type="text" value="{{recipe.ingredients.name}}" placeholder="name" name="ingredients" />
  <input type="number" value="{{recipe.cooktime}}" placeholder="name" name="cooktime" />
  <input type="text" value="{{recipe.directions}}" placeholder="name" name="directions" />
  <input type="text" value="{{recipe.comment}}" placeholder="name" name="comment" />

  <input type="submit" value="Create Recipe" />
</form>


{{!-- 
  name: String,
  ingredients: [
    {
    name: String, 
    qty: Number,
    measurement: String,
    },
  ],
  cooktime: Number,
  directions: String,
  comment: String, --}}