{{!-- <form method="POST" action="<TODO: models url here (e.g: /accounts)>?_method=PUT"> --}}

<form method="POST" action="/recipes?_method=PUT">

  Name:<input type="text" value="{{recipe.name}}" placeholder="name" name="name" />
  Ingredients:<input type="text" value="{{recipe.ingredients.name}}" placeholder="name" name="ingredients" />
  Cook time:<input type="number" value="{{recipe.cooktime}}" placeholder="name" name="cooktime" />
  Directions<input type="text" value="{{recipe.directions}}" placeholder="name" name="directions" />
  Comments:<input type="text" value="{{recipe.comment}}" placeholder="name" name="comment" />

  <input type="submit" value="Update Recipe" />
</form>

