<main>

<header>
  <nav>
  <a href="/recipes/{{recipe.id}}">Back to Recipe</a>
  </nav>
  <h1>Edit recipe</h1>
</header>

  {{!-- <form method="POST" action="<TODO: models url here (e.g: /accounts)>?_method=PUT"> --}}
  <form method="POST" action="/recipes/{{recipe.id}}?_method=PUT">

    Name:<input type="text" value="{{recipe.name}}" placeholder="name" name="name" /><br>

    Image: <input type="text" value="{{recipe.image}}" placeholder="image address" name="image" /> <br>

    Ingredients: <br>
    {{!-- <input type="text" value="{{recipe.ingredients}}" placeholder="ingredients" name="ingredients" /><br> --}}
    <textarea type="text" name="ingredients" cols="50" rows="10" />
      {{recipe.ingredients}} 
    </textarea><br>

    Cook time:<input type="number" value="{{recipe.cooktime}}" name="cooktime" /><br>

    {{!-- Directions:<input type="text" value="{{recipe.directions}}"name="directions" /><br> --}}
    Directions: <br>
    <textarea type="text" name="directions" cols="150" rows="15" />
    {{recipe.directions}} 
    </textarea><br>

    Comments:<br>
    {{!-- <input type="text" value="{{recipe.comment}}" name="comment" /> --}}
    <textarea type="text" name="comments" cols="150" rows="10" />
    {{recipe.ingredients}} 
    </textarea><br>

    <input type="submit" value="Update Recipe" />

  </form>

  {{!-- <form method="POST" action="<TODO: MODELS URL HERE (e.g: /accounts)>?_method=DELETE"> --}}
  {{!-- Decided on NO delete button
  <form method="POST" action="/recipes/{{recipe.id}}?_method=DELETE">
    <input type="submit" value="Delete" onclick="alert('Recipe deleted!')" />
  </form> --}}
</main>